*,
*::after,
*::before {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	display: block;
}

ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	margin: 0;
	background-color: rgba(85, 93, 255, 0.906);
	font-family: sans-serif;
}
h1 {
	border: 1.5px solid rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 2px black;
	box-shadow: 1px 1px 2px black;
	font-family: sans-serif;
	font-weight: bold;
	width: 300px;
	border-radius: 10px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	padding: 10px;
	background: linear-gradient(rgb(23, 89, 255), rgb(82, 117, 210));
}
.letter {
	width: 25px;
	height: 25px;
	background-color: rgb(68, 68, 255);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1.5px solid rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 2px black;
	box-shadow: 1px 1px 2px black;
	font-family: sans-serif;
	font-weight: bold;
}
.containerLetters {
	position: relative;
	width: 325px;
	height: 325px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	top: 50px;
}
.containerAnswerQuestion {
	position: relative;
	width: 70%;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: linear-gradient(rgb(23, 89, 255), rgb(82, 117, 210));
	border: 1.5px solid rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 2px black;
	box-shadow: 1px 1px 2px black;
	font-family: sans-serif;
	border-radius: 10px;
	padding: 20px;
	font-size: 22px;
}
.containerAnswerQuestion input {
	position: absolute;
	left: 38%;
	margin-top: 20px;
	bottom: 20px;
}
.playerElements {
	position: relative;
	text-align: center;
	margin-top: 90px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.timer {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: linear-gradient(rgb(23, 89, 255), rgb(82, 117, 210));
	border: 1.5px solid rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 2px black;
	box-shadow: 1px 1px 2px black;
	font-family: sans-serif;
	font-size: 30px;
}
.correctAnswer {
	position: absolute;
	top: 0px;
	left: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: linear-gradient(rgb(35, 255, 23), rgb(6, 177, 14));
	border: 1.5px solid rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 2px black;
	box-shadow: 1px 1px 2px black;
	font-family: sans-serif;
	font-size: 30px;
}

.letter--correct {
	background-color: rgb(2, 211, 2);
}
.letter--incorrect {
	background-color: red;
}
.letter--jumped {
	background-color: orange;
}
.position {
	position: absolute;
}
